.swiperPaginationBullet{
    width: 7px;
    height: 7px;
    background-color: #697488;
    opacity: 0.7;
    transition: all 0.3s;
    border-radius: 100%;
}
.swiperPaginationBulletActive{
    transform: scale(1.5);
    background-color: #3554d1;
    opacity: 1;
}
.swiperPaginationBullet:hover{
    transform: scale(1.5);
    background-color: #3554d1;
    opacity: 0.8;
}