/* React Toastify */
@import 'react-toastify/dist/ReactToastify.min.css';

:root {
  --toastify-color-info: #2F80ED;
  --toastify-color-success: #727a17;
  --toastify-color-warning: #FF8008;
  --toastify-color-error: #e53935;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
};


/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  @font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    src: url(/assets/fonts/Jost-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 500;
    src: url(/assets/fonts/Vazirmatn-Regular.ttf) format("ttf");
  }

  *[dir="ltr"] {
    @apply font-jost !important;
  }

  *[dir="rtl"] {
    @apply font-vazir !important;
  }

  input::placeholder {
    @apply text-dark opacity-70 text-sm;
  }
  body{
    @apply duration-300 scroller dark:text-white dark:bg-dark
  }
}

@layer utilities {
  .flexCenter {
    @apply flex flex-row justify-center items-center;
  }
  .flexBetween {
    @apply flex flex-row justify-between items-center;
  }
  .body-wrapper {
    @apply max-h-screen overflow-y-hidden before:absolute before:top-0 before:bottom-0 before:right-0 before:left-0 before:z-50 before:bg-black/70;
  }

  .scroller{
    &::-webkit-scrollbar{
      @apply w-2
    }
    &::-webkit-scrollbar-thumb{
      @apply bg-darkblue  rounded-full
    }
    &::-webkit-scrollbar-track{
      @apply bg-lighter rounded-full
    }
  }
  .bg-fade-popup {
    animation: bg-popup forwards;
    animation-duration: 200ms
  }

  @keyframes bg-popup {
    0% {
      @apply bg-dark/0 
    }

    100% {
      @apply bg-dark/60 
    }
  }
}
