@import "/assets/fonts/Jost-Regular.ttf";
@import "@/assets/fonts/Vazir.ttf";

@tailwind base;
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/Jost-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Vazir';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/Vazir.ttf) format('ttf');
}
@font-face {
  font-family: 'IranNastaliq';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/IranNastaliq.ttf) format('ttf');
}
h1,h2,h3,h4,h5,h6,p,span,a,div{
  @apply font-jost
}
input::placeholder{
  @apply text-dark opacity-70 text-sm
}
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* *[dir='ltr'] {
    @apply font-jost !important;
  }
 
 *[dir='rtl'] {
    @apply font-nastaliq !important;
  } */
  .flexCenter {
    @apply flex flex-row justify-center items-center;
  }
  .flexBetween {
    @apply flex flex-row justify-between items-center;
  }
  .body-wrapper{
    @apply max-h-screen overflow-y-hidden before:absolute before:top-0 before:bottom-0 before:right-0 before:left-0 before:z-50 before:bg-black/70;
  } 
}
