.date-picker.rmdp-wrapper,
.rmdp-container .date-picker.ep-arrow::after {
  background-color: bisque;
}

.rmdp-container .date-picker.ep-arrow[direction="bottom"] {
  border-top: 1px solid bisque;
}

.rmdp-container .date-picker.ep-arrow[direction="top"] {
  border-bottom: 1px solid bisque;
}